@import './variables.module.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
.more-select {
  background: none;
  padding: 0;
  .form,
  .table {
    background: #fff;
    padding: 20px;
  }
  .form {
    position: relative;
    padding: 20px 20px 8px 20px;
    display: flex;
    align-items: flex-start;
    // 折叠、展开按钮
    .select-expend {
      display: flex;
      align-items: center;
      margin-top: 4px;
      .expend {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: #e1e5fa;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
        i {
          font-size: 20px;
          color: #333;
        }
      }
    }
    .el-form {
      height: 40px;
      overflow: hidden;
      flex: 1;
      .el-form-item {
        &:last-child {
          justify-content: flex-start;
        }
      }
    }
  }
  .table {
    .sg-btnGrounp {
      margin-bottom: 10px !important;
    }
  }
}
.btnGreen {
  //   display: flex;
  // background-color: #e1e5fa;
  border-radius: 8px;
  color: aliceblue;
  justify-content: center;
  width: 80px;
  font-weight: bold;
}
.btnRed {
  //   display: flex;
  background-color: lightcoral;
  border-radius: 8px;
  color: aliceblue;
  justify-content: center;
  width: 80px;
  font-weight: bold;
}
.purple {
  background-color: #cdcdcd;
  border-radius: 8px;
  justify-content: center;
  color: aliceblue;
  width: 80px;
  font-weight: bold;
  border: none;
}
.form-bottom {
  height: 40px;
  width: 100%;
  background: #ffffff;
}
.bottom-btns {
  width: 100%;
  display: flex;
  justify-content: center;
}
